html {
    scroll-behavior: smooth;
}
body {
    background-color: $mainBgColor;

    &.menuOpen {
        .navigation {
            .menu {
                display: flex;
                flex-direction: column;
                width: 100%;
                background-color: $mainBgColor;
                height: 100vh;
                overflow: hidden;
                
                
                li {
                    display: block;
                    width: 100%;
                    height: calc(100% / 6);
                    text-align: center;
                    padding: 50px 0;
                    border: 1px solid #000;
                    border-right: none;
                    font-size: 28px;
                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        color: $navigationOpenColor
                    }
                    ul {
                        display: none;
                    }

                }
            }
            .logo {
                display: none;
            }
        }
        .hamburger {
            .is-active {
                color: #000;
            }
        }
    }

    &.stopScroll {
        overflow: hidden;
    }
}
.container {
    max-width: 1170px;
    padding: 0;
    margin: 0 auto;
}
.btn {
    background-color: $mainColor;
    padding: 15px;
    width: 200px;
    font-weight: 700;
    border-radius: 20px 0;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    color: $btnFontColor;
}