// **********************************
// GLOBAL
// **********************************

$mainBgColor: #e0dad2;
$mainFont: 'Lato', sans-serif;
$mainColor: #ec9167;
$showResponsiveNavigation: 1200px;
$navigationOpenColor: #000;
$navigationOpenBgColor: #fff;

// **********************************
// NAVIGATION
// **********************************

$navigationFontColor: #ffe4c4;
$navigationFontHoverColor: #ceb699;
$navigationFontScrollColor: #252323;

// **********************************
// WELCOME
// **********************************

$welcomeFontColor: #ffe4c4;
$overlayColor: #000;

// **********************************
// SIDEBAR NAV
// **********************************

$FacebookBgColor: #4661bb;
$rentalBikeBgColor: #d6c102;
$bikeMapsBgColor: #0b880b;

// **********************************
// TOURINFO
// **********************************

$btnFontColor: #e0dad2;


// **********************************
// TRIPS
// **********************************

$dealsBgColor: linear-gradient(to right, #1ca01c, #1a881a, #198019, #0f610f);
$iconColor: #0b880b;
// **********************************
// WELCOME
// **********************************


// **********************************
// CONTACT
// **********************************

$iconBgColor: #ec9167;