// **********************************
// GLOBAL
// **********************************

$mainBgColor: #e0dad2;
$mainFont: 'Lato', sans-serif;
$mainColor: #ec9167;
$showResponsiveNavigation: 1200px;
$navigationOpenColor: #000;
$navigationOpenBgColor: #fff;

// **********************************
// NAVIGATION
// **********************************

$navigationFontColor: #ffe4c4;
$navigationFontHoverColor: #ceb699;
$navigationFontScrollColor: #000;

// **********************************
// WELCOME
// **********************************

$welcomeFontColor: #e0ceb2;

// **********************************
// SIDEBAR NAV
// **********************************


// **********************************
// TOURINFO
// **********************************

$btnFontColor: #e0dad2;


// **********************************
// WELCOME
// **********************************


// **********************************
// WELCOME
// **********************************


// **********************************
// CONTACT
// **********************************

$iconBgColor: #ec9167;