.sidebar {
    display: block;
    width: 200px;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 2;
    margin: 0 -10px;

    @media (max-width: $showResponsiveNavigation) {
        display: none;
    }

    div {
        width: 200px;
        padding: 15px;
        margin: 5px;
        position: relative;
        border-radius: 5px;

        a {
            display: block;
            text-decoration: none;
            color: #000000;
        }

        i {
            position: absolute;
            right: 0;
            padding: 0 15px;
            font-size: 20px;
        }
    }
    .facebook {
        background-color: #4661bb;
        transform: translateX(-150px);
        transition: 300ms;

        &:hover {
            transform: translateX(0);
        }
    }
    
    .rentalBike {
        background-color: #d6c102;
        transform: translateX(-150px);
        transition: 300ms;
        &:hover {
            transform: translateX(0);
        }
    }

    .bikeMaps {
        background-color: #0b880b;
        transform: translateX(-150px);
        transition: 300ms;
        &:hover {
            transform: translateX(0);
        }
    }
}