.info {
    padding: 100px 0;
    text-align: center;
    
    .tourInfo {
        display: flex;
        width: 100%;
        flex-wrap: wrap;

        .singleOffer {
                box-shadow: 0 0 40px rgba(0, 0, 0, 0.07);
                border-radius: 4px;
                overflow: hidden;
                margin-bottom: 30px;
                width: calc(100% / 3);
                padding: 0 15px;
                background-color: $mainBgColor;
    
                @media (max-width: 1000px) {
                    width: 50%;
                    
                }
                @media (max-width: 600px) {
                    width: 100%;
                    margin: 0 15px;
                }
    
                figure {
                    position: relative;
                    text-align: center;
                    margin: 0;
    
                    img {
                        position: relative;
                        display: block;
                        width: 100%;
                    }
    
                    figcaption {
                        overflow: hidden;
                        padding: 15px 30px;
                        text-align: left;
                        transition: 300ms;
                        display: flex;
                        justify-content: space-between;
                    }
    
                    &:hover {
                        background: linear-gradient(to right, #1ca01c, #1a881a, #198019, #0f610f);
                        color: #fff;
                    }
    
                    &:hover a {
                        background-color: #fff;
                    }
    
                    &:hover .fa-solid {
                        color: #0b880b;
                    }
                }
    
                a {
                    text-decoration: none;
                    display: block;
                    align-self: center;
                    width: 50px;
                    height: 50px;
                    display: block;
                    border-radius: 50%;
                    background-color: #0b880b;
                    position: relative;
                    transition: 300ms;
    
                    .fa-solid {
                        color: #fff;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                    }
                }
            }
    }
}